[submodule "msbuildLibCpp"]
	path = msbuildLibCpp
	url = https://github.com/dan-chemo/msbuildLibCpp.git
	branch = main
[submodule "msbuildLib"]
	path = msbuildLib
	url = https://github.com/dan-chemo/msbuildLib.git
	branch = main
